<!DOCTYPE html>
<html>

    <style>
      body {
        text-align: center;
        background-color: pink;
      }

      h1 {
        color: MediumSeaGreen;
      }

      input[type=text] {
        border: 1px solid #222;
      }

      input[type=password] {
        border: 1px solid #222;
      }
    </style>

    <head>
        <title>Create Account</title>
    </head>
    <body>
        <div>
            <h1>Spewing Blogs</h1>
            <hr>
            Create an account to Spewing Blogs!
        </div>
        {% with errors = get_flashed_messages() %}
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endwith %}
        <form method="GET">
            <label>Enter Username</label>
            <input type="text" name="username">
            <br>
            <br>
            <label>Enter Password</label>
            <input type="password" name="passwordNew">
            <br>
            <br>
            <label> Enter Password Again: </label>
            <input type="password" name="passwordRepeat">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
        <form action = "/login">
            <input type = "submit" value = "Return to Login">
        </form>
    </body>
</html>
